@page "/registration"

<PageTitle>Реєстрація</PageTitle>

@if (ShowRegistrationErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<EditForm Model="userCreateDto" OnValidSubmit="Register" class="card card-body bg-light w-50 m-auto">
    <DataAnnotationsValidator />
    <div class="form-outline mb-4">
        <label for="name" class="form-label">Ім'я':</label>
        
        <InputText id="name" class="form-control" @bind-Value="userCreateDto.Name" />
        <ValidationMessage For="@(() => userCreateDto.Name)" />

    </div>

    <div class="form-outline mb-4">
        <label for="last-name" class="form-label">Прізвище:</label>

        <InputText id="last-name" class="form-control" @bind-Value="userCreateDto.LastName" />
        <ValidationMessage For="@(() => userCreateDto.LastName)" />

    </div>

    <div class="form-outline mb-4">
        <label for="email" class="form-label">Email:</label>

        <InputText id="email" class="form-control" @bind-Value="userCreateDto.Email" />
        <ValidationMessage For="@(() => userCreateDto.Email)" />

    </div>

    <div class="form-outline mb-4">
        <label for="phone" class="form-label">Телефон:</label>

        <InputText id="phone" type="tel" name="phone" class="form-control" @bind-Value="userCreateDto.PhoneNumber" />
        <ValidationMessage For="@(() => userCreateDto.PhoneNumber)" />

    </div>

    <div class="form-outline mb-4">
        <label for="password" class="form-label">Пароль:</label>

        <InputText type="password" id="password" class="form-control" @bind-Value="userCreateDto.Password" />
        <ValidationMessage For="@(() => userCreateDto.Password)" />

    </div>

    <div class="form-outline mb-4">
        <label for="confirm" class="form-label">Підтвердіть пароль:</label>

        <InputText type="password" id="confirm" class="form-control" @bind-Value="userCreateDto.ConfirmPassword" />
        <ValidationMessage For="@(() => userCreateDto.ConfirmPassword)" />

    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Готово</button>

</EditForm>