@page "/"

@using Watermark.Web.Services.Contracts;
@using Watermark.Models.Dtos;
<div class="row">
    <div class="col">
        <img @ref="previewSourceImageElem" style="max-width:200px;max-height:200px" />
        <InputFile @ref="inputSourceImageFile" OnChange="@UploadSourceImage" />
    </div>
    <div class="col">
        <img @ref="previewWatermarkImageElem" style="max-width:200px;max-height:200px" />
        <InputFile @ref="inputWatermarkImageFile" OnChange="@UploadWatermarkImage" />
    </div>
    <br />
</div>
<AuthorizeView>
    <Authorized>
        Bebra
    </Authorized>
    <NotAuthorized>
        Bobra
    </NotAuthorized>
</AuthorizeView>
@if (ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
@if (SourceImage != null && WatermarkImage != null)
{
    <p>Source Image UnSafe Name: @SourceImage.FileName</p>
    <p>Source Image Safe Name: @SourceImage.StoredFileName</p>
    <br />
    <p>Watermark Image UnSafe Name: @WatermarkImage.FileName</p>
    <p>Watermark Image Safe Name: @WatermarkImage.StoredFileName</p>
    <ResultImageComponent SourceImage="@SourceImage" WatermarkImage="@WatermarkImage" />
}