@page "/"

@using Watermark.Web.Services.Contracts;
@using Watermark.Models.Dtos;

@inject ILogger<WatermarkComponent> Logger;

<InputFile OnChange="@UploadSourceImage" />
<br />
<InputFile OnChange="@UploadWatermarkImage" />
@if (ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
@if (SourceImage != null && WatermarkImage != null)
{
    <p>Source Image UnSafe Name: @SourceImage.FileName</p>
    <p>Source Image Safe Name: @SourceImage.StoredFileName</p>
    <br />
    <p>Watermark Image UnSafe Name: @WatermarkImage.FileName</p>
    <p>Watermark Image UnSafe Name: @WatermarkImage.StoredFileName</p>
}